body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(83, 83, 218);
  color: rgb(233, 115, 115);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tree-container, .bonus{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.svgs {
  width: 100px;
  cursor: pointer;
}
.bonus-image{
  width: 200px;
  cursor: pointer;
}

.bonus .disabled .bonus-image {
  cursor: none;
  opacity: 0.2;
}


.bonus-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}